*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.head{
    height: 30px;

    margin-bottom: 0.1px;
  
}
#upperLine{
    height: 1px;
    width: 100%;
    background-color :gray;
 margin-top:  50px;
}
.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro h1,
.intro h2,
.intro p{
    margin: 4px 0;
}
.autoshow{
    animation: text-appear both;
    animation-timeline: view();
}
@keyframes text-appear {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.introContactbtn{
    color: black;
    height: 55px;
    width: 170px;
    display: inline-flex;
    text-align: center;
   font-size: 28px;
   font-weight: 600;
    border-radius: 15px;
    justify-content: center;
align-items: center;
    background-color:rgba(229, 108, 21, 0.936) ;
      border: 2px solid transparent; 
    transition: all 0.3s ease;
    text-decoration: none;
    
}

.introContactbtn:hover{
    color: rgba(229, 108, 21, 0.936);
    background-color: white;
    cursor: pointer;
    border:2px solid black;
}
.about h1{
    font-size:50px;
    color: black;
}
.about{
    background-color: rgba(230, 108, 21, 0.936);
    height: 600px;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    display: flex;
    padding: 20px;
   
}
.Pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;

}
.Pic:hover{
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2ms;
}
.about-text{
   font-size: 28px;
   line-height: 2; 
   color: white;
}

.workExperience {
    position: relative;
    height: 300px;
    width: 100%;
    
}

.vertical {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: black;
}

.hline {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
}

.hline.hori1 { top: 33%; }
.hline.hori2 { top: 66%; }



.education{

     background-color: rgba(230, 108, 21, 0.936);
    height: 600px;
    width: 100%; 
}
.education h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
}
.e1{
   font-size:40px; 
margin-top: 2px;
   display: flex;
   justify-content: center;
}
.contact{
    height: 600px;
    width: 100%;

}
.contact h1,
.contact h3,
.contact p{
    display: flex;
    justify-content: center;

}
.sendBtn{
    height: 50px;
    width: 400px;
    font-size: 40px;
    border-radius: 25px;
    background-color: grey;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    
}
.sendBtn:hover{
    cursor: pointer;
    background-color:  rgba(230, 108, 21, 0.936);
    transition: 0.5ms;
    color: black;
}












